<!DOCTYPE html>
<html lang="en" >
<head>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
<META http-equiv="expires" content="0">
<meta http-equiv="X-UA-Compatible" content="IE=8">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache"><meta http-equiv="X-UA-Compatible" content="IE=8">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">
<meta charset="UTF-8">
<title>vue.js待办事项清单代码 - 源码之家</title>

<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="app-container" id="taskList">
  <h1 class="app-header">待办事项清单</h1>
  <div class="add-task">
    <input type="text" autocomplete="off" placeholder="添加新事项" v-model="tasks.name" @keyup.enter="newItem" class="task-input">
		<input type="submit" value="" class="submit-task" @click="newItem" title="Add Task">
  </div>
  <ul class="task-list">
		<li class="task-list-item" v-for="task in tasks">
			<label class="task-list-item-label">
        <input type="checkbox">
				<span>{{task.name}}</span>
			</label>
			<span @click="delItem(task)" class="delete-btn" title="Delete Task">{{task.del}}</span>
		</li>
	</ul>
</div>

<script src='js/vue.min.js'></script>
<script src="js/script.js"></script>
<div style="text-align:center;">
<h5>源码来源：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></h5>
</div>
</body>
</html>
